<%- include header %>
<div class="banner"></div>
<div class="context" style="background-color: #fff;">
    <div class="intro">
        <p class="h1">我们的宗旨</p>
            <img src="images/pic/5.jpg" alt="" width="240" height="200">
            <p class="wtext">“流浪宠物之家”是动物保护者协会一起创办的免费领养流浪宠物以及发布宠物走失信息的门户网站，面向所有的宠物饲养者和爱好者以及社会众多动物保护者和关注者，
                在这里为他们提供最专业最全面的宠物资讯平台，最安全、方便、快捷、领养流浪宠物，最大最全面的面向全国所有宠物饲养者和爱好者。
                我们服务的宗旨是为了保护流浪在外的动物，给他们寻找到最合适的安身之所，让他们能够健康的成长，另一方面也传播动物保护意识，
                让所有动物保护者凝聚起来,共同创建和谐的美好社会。
                欢迎大家加入我们！
                come！join us!</p>
        </div>
        <div class="intro1">
            <p class="h1">公益宣传</p>
            <div class="video">
            <video width="800" controls>
                <source src="movie.mp4"  type="video/mp4">
                您的浏览器不支持 HTML5 video 标签。
            </video>
            </div>
        </div>
        <div class="intro1" style="height: 300px">
            <p class="h1">联系我们</p>
            <div class="contact">
                <p>联系电话：028-87976253</p>
                <p>联系邮箱：straypet@163.com</p>
                <p>相关救助站：成都流浪宠物救助站 上海流浪宠物救助站 武汉流浪宠物救助站</p>
                <p>安徽流浪宠物救助站 重庆流浪宠物救助站 北京流浪宠物救助站</p>
            </div>
            <div class="section">
                <div class="ma">
                    <img src="../images/pic/ma.jpg" width="150">
                    <p>微信公众号</p>
                    <p>了解最新信息</p>
                </div>
                <div class="ma">
                    <img src="../images/pic/ma.jpg" width="150">
                    <p>微信公众号</p>
                    <p>了解最新信息</p>
                </div>
            </div>
        </div>
    </div>
<%- include footer %>