<%- include header %>
<div class="context1">
    <p style="font-size: 26px; color: #333;padding-top: 10px">“宠物百科”</p>
<div class="info1 clearfix">
    <div class="mr1">
        <a href="/petdetail"><img src="images/pic/dog.jpg" alt="Ballade" width="260" height="200"></a>
    </div>
    <div class="ddesp">
        <h3>狗狗</h3>
        <p>狗是杂食性动物，以肉食为主，在喂养时，需要在饲料中配制较多的动物蛋白和脂肪，辅以素食成分，以保证狗的正常发育和健康的体魄。</p>
        <p>狗的消化道比食草动物要短，狗胃盐酸含量在家畜中居于首位，加之肠壁厚吸收能力强，所以容易和适宜消化肉食食品。</p>
        <p>狗属犬科，在进食时不大咀嚼，可谓“狼吞虎咽”。如果要喂粗纤维的蔬菜最好把蔬菜切碎或煮熟。</p>
        <p>狗喜欢啃咬骨头。这也是原生态时撕咬猎物所留下的习惯。我们在喂养时要经常给它一些骨头。</p>
    </div>
</div>
<div class="info1 clearfix">
    <div class="mr1">
        <a href="/petdetail"><img src="images/pic/cat.jpg" alt="Ballade" width="260" height="200"></a>
    </div>
        <div class="ddesp">
            <h3>猫咪</h3>
           <p> 猫拥有优良的犬齿与消化道是理想的食肉动物。牙床两侧的前臼齿与臼齿能像剪子般高效地剪肉。当犬科动物进化出此机制时猫科动物已发展得相当进步。与其他食肉动物不同猫几乎不吃任何植物。然而由于从前在野外求生的本能使然猫若身体不舒服、胃部累积过多毛球时会本能地寻觅青草食用。猫通常啃食某些草的叶尖达到催吐腹中毛球及减轻身体不适的目的。熊或狗等肉食动物常会补充如水果、根茎、蜂蜜等食物但猫则只吃肉。</p>
        </div>
</div>
<div class="info1 clearfix">
    <div class="mr1">
        <a href="petdetail"><img src="images/pic/fish.jpg" alt="Ballade" width="260" height="200"></a>
    </div>
    <div class="ddesp">
        <h3>水族</h3>
        <p>在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述</p>
    </div>
</div>
<div class="info1 clearfix"  style="margin-bottom: 20px">
    <div class="mr1">
        <a href="petdetail"><img src="images/pic/reptile.jpg" alt="Ballade" width="260" height="200"></a>
    </div>
    <div class="ddesp">
        <h3>爬虫</h3>
        <p>在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述在此处添加对图像的描述</p>
    </div>
</div>
</div>
<!--knowledges-->
<div class="notices" style="margin-right: 100px;">
    <p class="hr1"><span class="title">养宠物须知</span><span style="float: right;margin-top: 15px;">更多>></span></p>
    <div class="newslist home-ct1">
        <ul class="m-ul1">

  
            <li><a href="#">这里是宠物的走失效益效益领</a><span>[2017-04-26]</span></li>
            <li><a href="#">这里是宠物的走失但是萨迪</a><span>[2017-04-26]</span></li>
            <li><a href="#">这里是宠物的走失效益效益领产大会但是萨迪</a><span>[2017-04-26]</span></li>
  
            <li><a href="#">这里是宠物的走失效益效益领</a><span>[2017-04-26]</span></li>
            <li><a href="#">这里是宠物的走失但是萨迪</a><span>[2017-04-26]</span></li>
            <li><a href="#">这里是宠物的走失效益效益领产大会但是萨迪</a><span>[2017-04-26]</span></li>
            <li class="bordernone"><a href="#">这里是宠物的走失效益效大会但是萨迪</a><span>[2017-04-26]</span></li>
    
        </ul>
    </div>     
</div>
<!--/knowledges-->
<%- include footer %>