<%- include g_header %>
 <div class="context1">
     <div class="left" style="margin-top:50px;">
        <ul>
            <li><a href="/addpet">录入宠物信息</a></li>
            <li><a href="/post">发布宠物走失信息</a></li>
            <li><a href="/managepet">管理领养宠物信息</a></li>
            <li><a href="/lostpet">管理走失宠物消息</a></li>
        </ul>   
    </div>
      
       <%- include addpet_t %>

</div>
<%- include footer %>