    </div>
    <div class="footer">
            <p class="ftext">copyright@流浪宠物之家 | 邮编：610103 |  管理员电话：13518142478</p>
    </div> 
        <script src="javascripts/page.js" type="text/javascript"></script>
    </body>
</html>