<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd"><html 
xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="ie=11.0000" 
http-equiv="x-ua-compatible">
 
<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="stylesheets/page.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/table.css">
<title><%= title %></title> 
<meta name="generator" content="mshtml 11.00.9600.17496"></head> 
<body>
    <div class="header">
    	<p class="htext">流浪宠物之家</p>
        <p class="hhtext">
        <a title="登录" href="/login">登录</a>
        <a title="注册" href="/regist">注册</a>
        </p>

    </div>
    <div class="nav">
    	<ul class="clearfix">
    		<li><a href="/">首页</a></li>
    		<li><a href="/petinfo">宠物信息</a></li>
    		<li><a href="/about">关于动物</a></li>
    	</ul>
    </div>
    <div class="context">